<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/header :: head ('글수정')"></head>

<body class="text-center d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>

<main class="form-signin" style="max-width: 100%;">
    <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250">
        <form>
            <h1 class="h3 m-3 fw-normal">글수정</h1>
            <input type="hidden" id="id" th:value="${board.id}">
            <div class="form-floating m-3">
                <input type="text" th:value="${board.title}" class="form-control" id="title" placeholder="제목을 입력하세요." required>
                <label for="title">제목</label>
            </div>
            <div class="form-floating m-3">
                <textarea class="form-control" th:text="${board.content}" rows="5" id="content" style="height: 450px;"></textarea>
                <label for="content">내용</label>
            </div>

        </form>
        <button class="w-100 btn btn-lg btn-success" id="btn-update" style="max-width: 250px;">수정완료</button>

    </div>
</main>

<footer th:replace="layout/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:src="@{/js/board.js}"></script>
</body>

</html>