<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/header :: head ('글상세')"></head>

<body class="text-center d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>

<div class="d-flex" style="position: absolute; left: 20px; top: 70px;"><h7 style="margin-right: 10px;">글 번호:</h7><h7 th:text="${board.id}" id="id"></h7></div>
<div class="d-flex" style="position: absolute; left: 150px; top: 70px;"><h7 style="margin-right: 10px;">작성자:</h7><h7 th:text="${board.username}"></h7></div>
<main class="form-signin" style="max-width: 100%;">
    <div class="container border rounded flex-md-row mb-3 shadow-sm h-md-250">
        <div class="form-floating m-3">
            <h5 th:text="${board.title}" style="margin-bottom: 2px; margin-top: 20px;"></h5>
        </div>
        <hr/>
        <div class="form-floating m-3">
            <p th:text="${board.content}"></p>
        </div>
    </div>

    <div class="card mb-2 mt-5">

        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i> 댓글
        </div>
        <form>
            <div class="card-body">
                <input type="hidden" id="boardId" th:value="${board.id}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <textarea class="form-control" id="reply-content" rows="1"></textarea>
                        <button id="reply-btn-save" type="button" class="btn btn-dark mt-3">등록</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">댓글</div>
        <ul id="reply--box" class="list-group" th:each="reply : ${replyList}">
            <li th:id="'reply--' + ${reply.id}" class="list-group-item d-flex justify-content-between">
                <div th:text="${reply.content}"></div>
                <div class="d-flex">
                    <span class="text-monospace mr-1">작성자: &nbsp;</span><div class="text-monospace mr-1" th:text="${reply.username}"></div>
                    <button class="badge btn-warning">수정</button><span> | </span>
                    <button class="badge btn-danger">삭제</button>
                </div>
            </li>
        </ul>
    </div>
    <!--th:if="${board.username == #authentication.principal.username}" -->
    <div  class="mt-3">
        <a th:href="@{/board/{id}/update(id=${board.id})}" class="btn btn-warning">수정</a>
        <button class="btn btn-danger" id="btn-delete">삭제</button>
        <button class="btn btn-secondary" onclick="history.back()">뒤로</button>
    </div>
    
</main>

<footer th:replace="layout/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:src="@{/js/board.js}"></script>
<script th:src="@{/js/reply.js}"></script>
</body>

</html>