<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: head ('bootcamp')"></head>

<body class="d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="p-2"></div>
        <div th:each="board : ${boards}" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <a th:href="@{/board/{id}(id=${board.id})}" class="a-title">
                    <h5 class="mb-0 title" style="padding-bottom: 10px;" th:text="${board.title}"></h5>
                </a>
                <div class="card-text mb-auto" th:text="${board.content}">
                </div>
                <div class="mb-1 text-muted" style="padding-top: 15px;" th:text="${#temporals.createDate(board.createdDate, 'yyyyMMdd')}"></div>
            </div>
        </div>
    </div>
</main>
<div th:if="${!boards.isEmpty()}" >
	<nav aria-label="Page navigation" class="paging">
	    <ul class="pagination">
	        <li class="page-item" th:classappend="${1 == pageNumber + 1} ? 'disabled' : '' ">
	            <a class="page-link" th:href="@{/(page=${pageNumber - 1})}">Prev</a>
	        </li>
	        <li class="page-item" th:classappend="${i == pageNumber + 1} ? 'active' : '' " th:each="i : ${#numbers.sequence(startPage, endPage)}">
	            <a class="page-link" th:href="@{/(page=${i - 1})}" th:text="${i}">1</a>
	        </li>
	        <li class="page-item" th:classappend="${totalPages == pageNumber + 1} ? 'disabled' : '' ">
	            <a class="page-link" th:href="@{/(page=${pageNumber + 1})}">Next</a>
	        </li>        
	    </ul>
	</nav>
</div>	
<footer th:replace="layout/footer :: footer"></footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>